<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Connstring" value="Server=.;Database=Gym_System;User Id=sa;Password=123456;TrustServerCertificate=True"/>
		<add key="LogPath" value="G:\Gym System\Gym System\log.txt"/>
		<add key="SubscriberIcon" value="G:\Gym System\Icons\Subscribers.png"/>
		<add key="EmployeeIcon" value="G:\Gym System\Icons\Employee.png"/>
		<add key="UserIcon" value="G:\Gym System\Icons\User1.png"/>
		<add key="PresenceIcon" value="G:\Gym System\Icons\Presence.png"/>
		<add key="PersonIcon" value="G:\Gym System\Icons\Person.png"/>
		
	</appSettings>
	<connectionStrings>
		<add name="GymDataBase" connectionString="Server=.;Database=Gym_System;User Id=sa;Password=123456;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>